<form action="/replace" method="post">
  <div class="form-group">
    <label for="sentence">Please type in a sentence!</label>
    <input id="sentence" name="sentence" type="text" class="form-control"></input>
  </div>
  <div class = "form-group">
    <label for="word_find">Please enter a word to find in your sentence</label>
    <input id="word_find" name="word_find" type="text" class="form-control"></input>
  </div>
  <div class = "form-group">
    <label for="word_replace">Please enter a word to replace the find word</label>
    <input id="word_replace" name="word_replace" type="text" class="form-control"></label>
  </div>
  <button type="submit" class="btn-succes">make it silly</button>
</form>
